<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pintitas | Ropa Infantil</title>
  
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

  <!-- Navbar -->
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark" >
    <div class="container-fluid" >
      <a class="navbar-brand" href="/">Pintitas</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav" >
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link" href="/">Inicio</a></li>
          <li class="nav-item"><a class="nav-link" href="#sobreNosotros">Sobre Nosotros</a></li>
          <li class="nav-item"><a class="nav-link" href="#productos">Productos</a></li>

          <li class="nav-item"><a class="nav-link" href="#contacto">Contacto</a></li>
        </ul>
      </div>
    </div>
  </nav>

   <!-- Carrousel -->
    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="img/foto1carrousel.webp" class="d-block w-100" style="height: 2200px; object-fit: cover;" alt="Imagen 1">
        </div>
        <div class="carousel-item">
          <img src="img/foto2carrousel.jpg" class="d-block w-100" style="height: 2200px; object-fit: cover;" alt="Imagen 2">
        </div>
        <div class="carousel-item">
          <img src="img/foto3carrousel.jpg" class="d-block w-100" style="height: 2200px; object-fit: cover;" alt="Imagen 3">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
        <span class="visually-hidden">Anterior</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
        <span class="visually-hidden">Siguiente</span>
      </button>
    </div>
    </div>
